<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Conventional 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130128

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> 24V Cinema </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="movie.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="user">
	<ul>
		<li><a href="#">로그인</a></li>
		<li><a href="#">회원가입</a></li>
	</ul>
</div>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<a href="#"><img src="images/logo.jpg"></a>
			</div>
			<div id="menu">
				<ul>
					<li><a href="#" accesskey="1" title="">예매</a></li>
					<li><a href="#" accesskey="2" title="">상영시간표</a></li>
					<li><a href="#" accesskey="3" title="">영화</a></li>
					<li><a href="#" accesskey="4" title="">매점</a></li>
					<li><a href="#" accesskey="5" title="">관리</a></li>
				</ul>
			</div> <!-- menu -->
		</div> <!-- header -->
	</div> <!-- header-wrapper -->

	<div class="slideshow-container">

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/findme.jpg" >
			<img src="images/godshansu.jpg" >
			<img src="images/joker.jpg" >
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/godshansu.jpg" >
			<img src="images/joker.jpg" >
			<img src="images/winterkingdom.jpg" >
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/joker.jpg" >
			<img src="images/winterkingdom.jpg" >
			<img src="images/kimjiyoung.jpg" >
		</div>

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/winterkingdom.jpg" >
			<img src="images/kimjiyoung.jpg" >
			<img src="images/blackmoney.jpg" >
		</div>

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/kimjiyoung.jpg" >
			<img src="images/blackmoney.jpg" >
			<img src="images/yunhee.jpg" >
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/blackmoney.jpg" >
			<img src="images/yunhee.jpg" >
			<img src="images/zombieland.jpg" >
		</div>

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/yunhee.jpg" >
			<img src="images/zombieland.jpg" >
			<img src="images/nalssi.jpg" >
		</div>

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/zombieland.jpg" >
			<img src="images/nalssi.jpg" >
			<img src="images/findme.jpg" >
		</div>

		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img src="images/nalssi.jpg" >
			<img src="images/findme.jpg" >
			<img src="images/godshansu.jpg" >
		</div>
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>
		
	<div id="dots" style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span> 
		<span class="dot" onclick="currentSlide(2)"></span> 
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
		<span class="dot" onclick="currentSlide(7)"></span>
		<span class="dot" onclick="currentSlide(8)"></span>
		<span class="dot" onclick="currentSlide(9)"></span>
	</div>

	<div id="page" class="container">
		<div id="content">
			<div id="box1">
				<h2 class="title"><a href="#">제 휴 이 벤 트</a></h2>
			</div>
			<div>
				<ul class="style1">
					<li class="first">
						<h3><em><img src="images/img01.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Lorem ipsum dolor interdum</h3>
						<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus.</p>
						<p><a href="#" class="button-style">Read More</a></p>
					</li>
					<li>
						<h3><em><img src="images/img02.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Magna phasellus etiam ultrices</h3>
						<p>Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
						<p><a href="#" class="button-style">Read More</a></p>
					</li>
					<li>
						<h3><em><img src="images/img03.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Magna phasellus etiam ultrices</h3>
						<p>Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
						<p><a href="#" class="button-style">Read More</a></p>
					</li>
				</ul>
			</div>
		</div> <!-- content -->
		<div id="sidebar">
			<h2>쿠 폰 이 벤 트</h2>
			<ul class="style3">
				<li class="first">
					<p><img src="images/soohum.jpg" class="coupon_img"></p>
					<p> 수험생 할인 이벤트!</p>
				</li>
				<li>
					<p><img src="images/newmember.jpg" class="coupon_img"></p>
					<p> 신규회원 할인 이벤트!</p>
				</li>
				<li>
					<p><img src="images/24age.jpg" class="coupon_img"></p>
					<p> 24세 모여라! </p>
				</li>
				<li>
					<p><img src="images/army.jpg" class="coupon_img"></p>
					<p> 국군장병 특별 할인 이벤트! </p>
				</li>
			</ul>
		</div> <!-- sidebar -->
	</div> <!-- container -->

	<div id="footer">
		<p>
			<span>(15588) 경기도 안산시 상록구 한양대학로 55</span><br/>
			<span>대표이사 : 김종훈 사업자등록번호 : 104-47-78424 통신판매업신고번호 : 2017-24V-0662 </span><br/>
			<span>개인정보보호 책임자 : 이해석 대표이메일 : iproj2@hanyang.ac.kr 24V고객센터 : 7247-2530 © HY 24V. All Rights Reserved</span>
		</p>
	</div>
</div>
<script src="movie.js"> </script>
</body>
</html>
