@font-face{ 
    font-family: NanumGothic; 
    src:url(source/font/NanumGothic.ttf);
    src:local(※), url(source/font/NanumGothic.ttf) format(‘ttf’);
}


body{
    margin : 0;
    font-family: NanumGothic;
    background-color: #fdfcf1;
    color : #666666;
    background-repeat: repeat-x;
    text-align: center;
    font-weight: bold;
}

a{
    color : #555555;
    text-decoration: none;
}

div{
    margin : 20px 0 20px 0;
    padding : 0;
}

#head{
    margin-top:0;
    min-width:860px;
}

header{
    display: inline-block;
    background-image: url(source/img/pattern.png);
    width : 100%;
    height : 120px;
    text-align: center;
}

header>a{
    float:left;
}

nav{
    display: inline-block;
    margin-right:10%;
    margin-top:16px;
    
    font-size : 18pt;
}

nav li{
    margin-right:24px;
}

nav a:hover{
    color : gray;
    text-shadow: 2px 2px red;
}

#logo{
    float : left;
    margin-top : 0.5%;
    margin-bottom: 0;
    margin-right:50px;
    background-image : url(source/img/logo.png);
    width : 200px;
    height : 85px;
}

ul{
    display: inline-block;
    list-style : none;
    margin-top:46.6px;
    padding : 0;
}

li{
    display: inline;
}

#login{
    float : right;
    margin:0;
    margin-right : 15%;
    
}

#main{
    text-align: center;
    display: inline-block;
    width : 860px;
    min-height : 720px;
    align-items: center;
    overflow: auto;
    
}

#title{
    display: inline-block;
    margin : 0;
    padding : 0;
    margin-left : 40px;
    text-align : left;
    width : 860px;
}

article{
    text-align : center;
    display: inline-block;
    width : 220px;
    height : 296px;
    margin : 30px 15px 30px 15px;
}

footer{
    display: inline-block;
    clear : both;
    width : 860px;
    text-align : center;
    font-size : 9pt;
}

#brick{
    height : 120px;
    background-image: url(source/img/brick.png);
    background-repeat: repeat-x;
}