<!DOCTYPE html>
<html>
    <head>
        <% include ./header.ejs %>
        <link rel="stylesheet" href="../css/sales.css">
    </head>
    <body>
        <% include ./nav.ejs %>
    <div id="admin-page">
        <% data.arr.forEach(function(item, index){ %>
            <div class="admin-cinema-name">
                <%= item.cinemaName %>
            </div>
            <div class="admin-cinema-sales">
            <% if (item.cinemaSelling) { %>
                ￦<%= item.cinemaSelling %>
            
            <% } else {%>
            
                ￦0
            </div>
            <% } %>
        <% }) %>
        
        <div>
        총매출 ￦<%= data.totalSelling %>
        </div>
    </div> <!-- admin-page -->
    </body>
</html>