<!DOCTYPE html>
<html>
    <head>
        <% include ./header.ejs %>
        <link rel="stylesheet" href="css/sales.css">
    </head>
    <body>
        <% include ./nav.ejs %>
        <aside>
            <ul>
                <li><a href="/admin/console"> 매출 </a>
                <ul class="nested_ul">
                    <li><a href="#seoul"> 서울 </a></li>
                    <li><a href="#incheon"> 인천 </a></li>
                    <li><a href="#daejeon"> 대전 </a></li>
                    <li><a href="#daegu"> 대구 </a></li>
                    <li><a href="#ulsan"> 울산 </a></li>    
                    <li><a href="#gwangju"> 광주 </a></li>
                    <li><a href="#busan"> 부산 </a></li>
                    <li><a href="#local_sales"> 지점별 총 매출 </a></li>
                    <li><a hreclass"#total_sales"> 총 매출 </a></li>
                </ul>
                </li>
                <li><a href="#employee"> 직원관리 </a></li>
            </ul>
        </aside>
        <div id ="main">
            
            <div class="sales">
                <div class="local_sales">
                    <table id="seoul">
                        <caption> 서울지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="incheon">
                        <caption> 인천지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="daejeon">
                        <caption> 대전지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="daegu">
                        <caption> 대구지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="ulsan">
                        <caption> 울산지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="gwangju">
                        <caption> 광주지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
                <div class="local_sales">
                    <table id="busan">
                        <caption> 부산지점 11월 매출 </caption>
                        <th>날짜</th> <th>매출</th>
                        <tr> <td>11-01</td> <td>$9,000</td></tr>
                        <tr> <td>11-02</td> <td>$3,000</td></tr>
                        <tr> <td>11-03</td> <td>$3,000</td></tr>
                        <tr> <td>11-04</td> <td>$5,000</td></tr>
                        <tr> <td>11-05</td> <td>$2,000</td></tr>
                        <tr> <td>11-06</td> <td>$4,000</td></tr>
                        <tr> <td>11-07</td> <td>$6,000</td></tr>
                    </table>
                </div>
        
                <div class="total_sales">
                    <h2> 총 매출 </h2>
                    $820,000
                </div>
            </div> <!-- sales -->       
        </div> <!-- main -->
    </body>
</html>