<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <aside id="side-menu">
        <ul>
            <a href="/book">
                <li>예 매</li>
            </a>
            <a href="/movie">
                <li>영 화</li>
            </a>
            <a href="/market">
                <li>매 점</li>
            </a>
            <a href="/event">
                <li>이 벤 트</li>
            </a>
            <a href="#login">
                <li id="side-menu-bottom"> ▲ </li>
            </a>
        </ul>
    </aside>
</body>

</html>