<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
</head>
<body>
    <h1>예매</h1>
    <% include ./nav.ejs %>
    <% resData.data.forEach(function(item){%>
        <%= item.title %>
        <img src="<%=item.img%>" alt="<%=item.title%>" class="movie_img" id="<%=item.id%>">
    <% }) %>

    <hr>
    <div id="resultScreen"></div>
    <hr>
    <div id="resultTimetable"></div>
    <hr>

    <script>
        var resultScreen = document.getElementById('resultScreen');
        var resultTimetable = document.getElementById('resultTimetable');
        
        var movies = document.querySelectorAll('.movie_img');
        [].forEach.call(movies,function(movie){ 
            movie.addEventListener("click", movie_click, false); 
        }); 
        var movie_id = null;
        var movie_title = null;
        var screen_id = null;
        var screen_name = null;

        function movie_click(e){
            movie_id = e.target.getAttribute('id');
            movie_title = e.target.getAttribute('alt');
            console.log(movie_title);
            var selectedMovie = {
                'id': movie_id,
                'title': movie_title
            }
            sendAjax(`/api/selected_movie/${movie_id}`, 'GET', selectedMovie, getAbleScreen);
        }

        function getAbleScreen (result) {
            
            while (resultScreen.firstChild) {
                    resultScreen.firstChild.remove();
            }
            if (result.data) {
                result.data.forEach(function(element){
                    var p = document.createElement('p');
                    var br = document.createElement('br');
                    p.innerHTML = [element.id, element.name, element.cinema].join(' ');
                    p.setAttribute('class', 'ableScreen');
                    p.setAttribute('name', element.name);
                    p.setAttribute('id', element.id);
                    resultScreen.appendChild(p);
                    resultScreen.appendChild(br);
                });
                var screens = document.querySelectorAll('.ableScreen');
                [].forEach.call(screens,function(screen){ 
                    screen.addEventListener("click", screen_click, false); 
                });
                resultScreen.lastChild.scrollIntoView();
            }
        }


        function screen_click(e){ 
            screen_id = e.target.getAttribute('id');
            screen_name = e.target.getAttribute('name');

            var selectedMovieAndScreen = {
                'movie_id': movie_id,
                'movie_title': movie_title,
                'screen_id': screen_id,
                'screen_name': screen_name
            }
            sendAjax(`/api/selected_movie/${movie_id}/selected_screen/${screen_id}`, 'GET', selectedMovieAndScreen, getAbleTimetable);

        }

        function getAbleTimetable(result){
            
            while (resultTimetable.firstChild) {
                resultTimetable.firstChild.remove();
            }
            if (result.data) {
                result.data.forEach(function(element){
                    var p = document.createElement('p');
                    var br = document.createElement('br');
                    p.innerHTML = [element.id, element.startdate, element.enddate, element.starttime, element.endtime].join(' ');
                    p.setAttribute('class', 'ableTimetable');
                    p.setAttribute('id', element.id);
                    resultTimetable.appendChild(p);
                    resultTimetable.appendChild(br);
                });
                var timetables = document.querySelectorAll('.ableTimetable');
                [].forEach.call(timetables,function(timetable){ 
                    timetable.addEventListener("click", timetable_click, false); 
                });
                resultTimetable.lastChild.scrollIntoView();
            }
        }
        

        function timetable_click(e){ 
            timetable_id = e.target.getAttribute('id');
            window.location.href = `/ticket/booking/timetable/${timetable_id}/seat`
        }

        function sendAjax(url, method, data, fn){
            data = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(data);

            xhr.addEventListener('load', function(){
                var result = JSON.parse(xhr.responseText);
                fn(result);
            });
        }
    </script>
</body>
</html>