<!DOCTYPE html>
<html lang="kr">
<head>
    <% include ./header.ejs %>
</head>
<body>
    <% include ./nav.ejs %>

    <h1>로그인</h1>
    email: <input type="text" name="email">
    password: <input type="password" name="password">
    <button id="login_btn">로그인</button>

    <div class="result"></div>

    <script>
        document.querySelector('#login_btn').addEventListener('click', function(){
            var email = document.getElementsByName('email')[0].value;
            var password = document.getElementsByName('password')[0].value;
            var inputData = {
                'email': email,
                'password': password
            }
            sendAjax('/user/login', inputData);
        })

        function sendAjax(url, data){
            data = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(data);

            xhr.addEventListener('load', function(){
                var result = JSON.parse(xhr.responseText);
                if (result.email) {
                    window.location = '/';
                }
            });
        }
    </script>
</body>
</html>