<!DOCTYPE html>
<html lang="kr">
<head>
    <% include ./header.ejs %>
    <link href="/css/cardStacked.css" rel="stylesheet" />
    <link href="/css/event.css" rel="stylesheet" />
    <script src="/js/cardStacked.js" type="text/javascript"></script>
    
</head>
<body>
    <% include ./nav.ejs%>
    <% include ./aside.ejs%>
    <h1> 24V 시네마 상영작 </h1>
    <% include ./cardStacked.ejs%>
    <script>currentSlide(1)</script>
    <br>
    <h1> 새로운 이벤트 </h1>
    <div id ="event-main">
        <div id="main-coupon-list">
            <ul>
                <li>
                    <a href="event#event-coupon1">
                    <img src="img/coupon/soohum.jpg">
                    <span> 지친 수험생들을 위한 이벤트!</span>
                    </a>
                </li>
                <li>
                    <a href="event#event-coupon2">
                    <img src="img/coupon/newmember.jpg">
                    <span> 신규회원분들을 위한 이벤트!</span>
                    </a>
                </li>
                <li>
                    <a href="event#event-coupon3">
                    <img src="img/coupon/university.jpg">
                    <span> 대학생 전용 할인 쿠폰!</span>
                    </a>
                </li>
                <li>
                    <a href="event#event-coupon4">
                    <img src="img/coupon/army.jpg">
                    <span> 지켜줘서 고마워 국군장병 할인 이벤트!</span>
                    </a>
                </li>
                <li>
                    <a href="event#event-coupon5">
                    <img src="img/coupon/24age.jpg">
                    <span> 24V만의 특색 이벤트! 24세들 모여라!</span>
                    </a>
                </li>
                <li>
                    <a href="event#event-coupon6">
                    <img src="img/coupon/special.jpg">
                    <span> 24V 제휴 이벤트! 뜨끈한 국밥 한그릇!</span>
                    </a>
                </li>
            </ul>
        </div> <!-- event-coupon-list -->
    </div> <!-- event-main -->
    <% include ./footer.ejs %>
</body>
</html>