<!DOCTYPE html>
<html lang="kr">
<head>
    <% include ./header.ejs %>
    <link href="/css/cardStacked.css" rel="stylesheet" />
    <script src="/js/cardStacked.js" type="text/javascript"></script>
    
</head>
<body>
    <% include ./nav.ejs%>
    <% include ./cardStacked.ejs%>
    <script>currentSlide(1)</script>
    <br>
    <% include ./footer.ejs %>
</body>
</html>