<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
    <link href="/css/market.css" rel="stylesheet" />
</head>
<body>
    <% include ./nav.ejs%>
    
    <div id="title">
        <h2>매점</h2>
    </div>
    <hr/>
    <div id="main">

        <article>
            <img src="/img/menu/combo.png" alt="combo" >
            <p>
                24v 콤보<br/>
                ₩ 9500
            </p>
        </article>

        <article>
            <img src="/img/menu/popcon.png" alt="popcon">
            <p>
                오리지날팝콘 L<br/>
                ₩ 5000
            </p>
        </article>

        <article>
            <img src="/img/menu/Caramel.png" alt="Caramel">
            <p>
                캬라멜팝콘 L<br/>
                ₩ 6000
            </p>
        </article>

        <article>
            <img src="/img/menu/cola.png" alt="cola">
            <p>
                콜라 L<br/>
                ₩ 2000
            </p>
        </article>

        <article>
            <img src="/img/menu/cider.png" alt="cider">
            <p>
                사이다 L<br/>
                ₩ 2000
            </p>
        </article>

        <article>
            <img src="/img/menu/lemonade.png" alt="lemonade">
            <p>
                레몬에이드<br/>
                ₩ 4000
            </p>
        </article>

    </div>

    <% include ./footer.ejs %>

</body>
</html>

