<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="css/movie.css">
    <% include ./header.ejs %>
</head>
<body>
    <% include ./nav.ejs %>
    <% resData.data.forEach(function(item){%>
        <%= item.title %>
        <img src="<%=item.img%>" alt="<%=item.title%>">
    <% }) %>
</body>
</html>