<h1><a href="/">24V</a></h1>
<hr>
<h3>메뉴 바</h3>
<a href="/ticket/booking">예매</a>
<a href="/movie">영화</a>
<a href="/cinema">영화관</a>
<a href="/market">매점</a>

<% if (!isAuthenticated) { %>
    <a href="/user/login">로그인 </a><a href="/user/join">회원가입</a>
<% }  else { %>
    <a href="/user/logout">로그아웃 </a><a href="/user/mypage">마이페이지</a>
    <% if (id) { %>
        <%= id %> 번째로 가입한 유저님 환영합니다.
    <% } %>
<% } %>
<hr>
