<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<h1 id="title"><a href="/">24V</a></h1>
<div id="menu">
    <a href="/ticket/booking">예매</a>
    <a href="/movie">영화</a>
    <a href="/cinema">영화관</a>
    <a href="/market">매점</a>
    <a href="/admin"> 관리 </a>
</div>
<hr>
</body>
</html>