<!DOCTYPE HTML>
<html>
<head>
    <% include ./header.ejs %>
    <link rel="stylesheet" href="css/payment.css">
</head>

<body>
    <% include ./nav.ejs %>
    <p id='pay' pay="<%= resData.seat_length * 7000 %>">예매 금액 : ￦<%= resData.seat_length * 7000 %></p>
    <select name="payment-coupon" id="payment-coupon">
        <option value="0" class="coupon_option" coupon_id="0" selected> 보유중인 쿠폰이름들 </option>
    </select>
    <p id='coupon_benefit'>할인금액 : 0</p>
    <p id='total_payment'>결제금액 : <%= resData.seat_length * 7000 %></p>

    <form >
        <div id="payment-page">
            <div id="payment-form-overall">
                <div>
                    <select name="credit-kind">
                        <option value="sinhan">신한카드</option>
                        <option value="hyundai">현대카드</option>
                        <option value="samsung">삼성카드</option>
                        <option value="kb">KB국민카드</option>
                        <option value="lotte">롯데카드</option>
                        <option value="hana">하나카드</option>
                        <option value="woori">우리카드</option>
                        <option value="city">씨티카드</option>
                        <option value="nh">NH농협카드</option>
                        <option value="ibk">IBK기업카드</option>
                        <option value="bc">비씨카드</option>
                    </select>
                </div>
                
                <div class="payment-form">
                    <span> 카드번호 </span>
                        <input type="text" name="credit-number-1" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="text" name="credit-number-2" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="password" name="credit-number-3" pattern="\d{4}" maxlength="4" size="4"> -
                        <input type="password" name="credit-number-4" pattern="\d{4}" maxlength="4" size="4">
                </div>
                
                <div class="payment-form">
                    <span> 유효기간 </span>
                        <input type="text" name="credit-valid-year" pattern="\d{2}" maxlength="2" size="2" placeholder="YY"> /
                        <input type="text" name="credit-valid-month" pattern="\d{2}" maxlength="2" size="2" placeholder="MM">
                </div>
                <div class="payment-form">
                    <span> CVC번호(뒤에 3자리)</span>
                        <input type="password" name="credit-cvc" pattern="\d{3}" maxlength="3" size="3">
                </div>
                <div class="payment-form">
                    <span> 비밀번호(앞에 2자리)</span>    
                        <input id="password_two" type="password" name="credit-password" pattern="\d{2}" maxlength="2" size="2">
                </div>
                <div class="payment-form">
                    <button id="submit">결제</button>
                </div>
            </div> <!-- payment-form -->
        </div> <!-- payment-page -->
    </form>
    <script>
    var selected_coupon_id = "0";
    var disc_pay = 0;
    sendAjax('/api/payment', 'GET', {}, getPaymentInfo);

    var submit = document.getElementById('submit');
    submit.addEventListener('click', function(e){
        e.preventDefault();
        var password_two = document.getElementById('password_two').value;
        data = {
            password_two: password_two,
            origin_pay: document.getElementById('pay').getAttribute('pay'),
            disc_pay: disc_pay,
            total_payment: document.getElementById('total_payment')
        }
        data.couponId = selected_coupon_id
        sendAjax('/api/payment', 'POST', data, payFinished);
    });

    function getPaymentInfo(result){
        if(result){
            var payment_coupon = document.getElementById('payment-coupon');
            result.coupon_list.forEach(function(item, index){
                var option = document.createElement('option');
                option.setAttribute('value', item.benefit);
                option.setAttribute('coupon_id', item.id);
                option.setAttribute('class', 'coupon_option')
                option.innerHTML = item.name;
                payment_coupon.appendChild(option);
            });
            payment_coupon.addEventListener('change', setCoupon, false);
        }
    }

    function payFinished(result){
        if(result.success){
            alert('결제가 완료되었습니다');
            window.location.href = '/';
        }else{
            alert('결제를 실패하였습니다');
        }
    }

    function setCoupon(e){
        e.preventDefault();
        var coupon_benefit = document.getElementById('coupon_benefit');
        coupon_benefit.innerHTML = `할인금액: ${e.target.value}`;
        disc_pay = Number(e.target.value);
        var pay = document.getElementById('pay');
        var total_payment = document.getElementById('total_payment');
        total_payment.innerHTML = `결제금액: ${Number(pay.getAttribute('pay')) - Number(e.target.value)}`;
        var payment_coupon = document.getElementById('payment-coupon');
        selected_coupon_id = Number(payment_coupon.options[payment_coupon.selectedIndex].getAttribute('coupon_id'));   
    }

    function sendAjax(url, method, data, fn){
        data = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);

        xhr.addEventListener('load', function(){
            var result = JSON.parse(xhr.responseText);
            fn(result);
        });
    }

    </script>
</body>
</html>