<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./header.ejs %>
</head>
<body>
    <% include ./nav.ejs%>

    <div id="title">
        <h2>상영관 선택</h2>
    </div>
    <hr/>
    <div id ="main"> 
  

    </div>
    <% include ./footer.ejs %>
</body>
</html>