body{
    text-align: center;
}

#main{
    text-align: center;
    display: inline-block;
}

article{
    text-align : center;
    display: inline-block;
    width : 220px;
    height : 296px;
    margin : 30px 15px 30px 15px;
}

#list{
    display: inline-block;
    width : 400px;
    
}

#menuname{
    width : 250px;
    float : left;
}

#count{
    width : 150px;
    float : right;
}

input{
    margin-top : 16px;
}

#button1{
    width : 400px;
    display: inline-block;
}
