article{
    margin : 20px 20px 20px 20px;
    float : left;
    width : 380px;
}

article div{
    float : left;
}

article img{
    width: 370px;
    height : 520px;
}

article span{
    display: block;
    margin : 25px 0 0 0;
    font-size: 13pt;
}

article h2{
    margin-bottom : 40px;
}

#story{
    clear:both;
}

pre{
    text-align: left;
    line-height : 27px;
}
