/* ↓ FROM css/book.css */

@font-face{ 
    font-family: NanumGothic; 
    src:url(/font/NanumGothic.ttf);
    src:local(※), url(/font/NanumGothic.ttf) format(‘ttf’);
}

body{
    text-decoration: none;
    text-align : center;
}

#header a{
    color : #555555;
    text-decoration: none;
}

#head{
    margin-top:0;
    min-width:860px;
}

#header{
    display: inline-block;
    background-image: url(/img/pattern.png);
    width : 100%;
    height : 120px;
    text-align: center;
    margin-bottom : 30px;
    margin-top: 20px;
}

#header>a{
    float:left;
}

#nav{
    display: inline-block;
    margin-right:10%;
    font-size : 35pt;
}

#nav a{
    background-color: rgb(253, 248, 223);
}

#header li{
    margin-right:24px;
}

#header a:hover{
    color : gray;
    text-shadow: 2px 2px red;
    background-color:rgb(243, 238, 213);
}

#logo{
    float : left;
    margin-bottom: 0;
    margin-right:50px;
    margin-top:20px;
    background-image : url(/img/logo.png);
    width : 200px;
    height : 85px;
}

#head ul{
    display: inline-block;
    list-style : none;
    margin-top:30px;
    padding : 0;
}

#head li{
    display: inline;
}

#login{
    float : right;
    margin:0;
    margin-right : 15%;
}

#login a{
    color : #555555;
    text-decoration: none;
}


#main{
    text-align: left;
    display: inline-block;
    width : 860px;
    min-height : 720px;
    align-items: center;
    overflow: auto;
}

#title{
    display: inline-block;
    margin : 0;
    padding : 0;
    margin-left : 40px;
    text-align : left;
    width : 860px;
}

#article{
    width : 185px;
    margin : 30px 15px 30px 15px;
}

#footer{
    display: inline-block;
    clear : both;
    width : 860px;
    text-align : center;
    font-size : 9pt;
}

#end{
    text-align: center;
}

#brick{
    height : 120px;
    margin-bottom : 0;
    background-image: url(/img/brick.png);
    background-repeat: repeat-x;
}

#head, .all{
    margin : 0;
    font-family: NanumGothic;
    background-color: #fdfcf1;
    color : #666666;
    background-repeat: repeat-x;
    font-weight: bold;
}

/*-----------------------------------------*/

.panel-body{
    width : 860px;
}

td{
    text-align: left;
}

.detA {
    display: inline-block;
    width : 188px;
    height: 300px;
    margin-right : 10px;
    margin-bottom: 40px;
    text-align:center;
}


.bd4{
    text-align : left; 
    padding: 0 20px 40px;
 }

 .grade_all{
    text-align: left;
    display:block;
 }

 .people_seat{
    display: inline-block;
    width : 860px;
 }
/* ↑ FROM css/book.css */

.movie-mid {
    margin-left: 6%;
    margin-right: 6%;
    border: 1px solid #ddd;
    padding: 10px;
}
.tit_strapline {
    font-size: 15px;
    border-width: 1px;
    border-color: #efefef;
    display: block;
    height: 36px;
    margin-top: 13px;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    margin-left: 25px;
}
.mapa0 {
    margin:0px;
    padding:0px;
}
.item_cate {
    display: table; margin-left: auto; margin-right: auto;

}
.txt_caution {
    margin-left: 25px;
}
html {
    font-size: 16px;
}
.plane {
    margin: 20px;
    margin-left : 260px;
    max-width: 600px;
}
.exit {
    position: relative;
    height: 50px;
}
.exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
}
.exit:before {
    left: 0;
}
.exit:after {
    right: 0;
}
.fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.seat {
    display: flex;
    flex: 0 0 9.2857142857%;
    padding: 5px;
    position: relative;
}
.seat:nth-child(2) {
    margin-right: 9.2857142857%;
}
.seat:nth-child(7) {
    margin-right: 9.2857142857%;
}
.seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.seat input[type=checkbox]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
}
.seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #f42536;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
.seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, .4);
    border-radius: 3px;
}
.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5c6aff;
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
   }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
   }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
   }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
   }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
   }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
   }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
   }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
   }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.clock {display:block; height:38px; line-height:38px; border-bottom:1px solid #e5e5e5; font-size:15px; color:#666; font-weight:bold;}
.ppNum {display:block; height:19px; line-height:19px; color:#666; font-size:12px;}
.ppNum em {color:#231f20}
.cineD2 {display:block; height:21px; line-height:21px; color:#666; border-bottom:1px solid #e5e5e5;}
.cineD2 em {display:inline-block; padding:0 6px; background:url('/LCHS/Image/bg/bg_line08.gif') no-repeat left 4px;}
.cineD2 em:first-child {background:none !important; padding:0 3px;}

.mar1 {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
    display:block;
}

#time_table li{
    float: left;
    width: 115px;
    margin: 10px 0 0;
    background: #fff;
    border: 1px solid #ebeaea;
    text-align: center;
    margin-right: -1px;
    list-style: none;
}
.getseatlabel {
    display:block;
    text-align: center;
    border-top: 1px solid #ebeaea;
    border-bottom: 1px solid #ebeaea;
}
em {
    font-weight: normal;
    font-style: normal;
}
.ttb {
    display: block;
    height: 21px;
    line-height: 21px;
    color: #666;
    border-bottom: 1px solid #ebeaea;
}
.table {
    margin-left: 6%;
}
.clear {
    clear:both;
    display: block;
}

.txt_minfo {
    font-size: 13px;
}
.tit_movie{
    font-size: 14px;
    font-weight: bold;
}
h4 {
    font-weight: bold;
}
.calendar-base {
    margin-left: -200px;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: 10;
    color: black;
}
.year {
    color: #E8E8E8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
}
.triangle-left:hover{
    border-right: 10px solid#2ECC71;
}
.triangle-right:hover{
    border-left: 10px solid#2ECC71;
}

.month-color {
    color: #27AE60;
}
.month-hover:hover{
    color:#27e879 !important;
}

.months {
    color: #AAAAAA;
    position: relative;
    left: 350px;
    top: 90px;
    word-spacing: 10px;
}

.month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 85px;
    width: 57%;
    left: 178px;
}

.days {
    color: #AAAAAA;
    position: relative;
    font-size: 18px;
    left: 355px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
}

.num-dates {
    float: right;
    position: relative;
    top: 110px;
    right: 50px;
    z-index: 1;
}

.first-week {
    margin-bottom: 25px;
    word-spacing: 55px;
}

.second-week {
    margin-bottom: 25px;
    word-spacing: 53px;
}

.third-week {
    margin-bottom: 25px;
    word-spacing: 58px;
}

.fourth-week {
    margin-bottom: 25px;
    word-spacing: 58px;
}

.fifth-week {
    margin-bottom: 25px;
    word-spacing: 56px;
}

.sixth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
}

.active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: 295px;
    left: 661px;
}

.white {
    color: white;
}

.event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: relative;
    top: 304px;
    left: 695px;
}

.two {
    position: relative;
    top: 168px;
    left: 535px;
}

.grey {
    color: #AAAAB1;
}

.calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    position: relative;
    z-index: -1;
    bottom: 500px;
    color: white;
}

.hamburger {
    position: relative;
    top: 25px;
    left: 25px;
}

.burger-line:hover, .hamburger:hover{
    background-color:#27e879 !important;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
}

.num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
}

.day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    position: relative;
    bottom: 60px;
}

.current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
}

.posts {
    text-decoration: underline dotted;
}
.posts:hover{
    color:#27e879 !important;
}

.create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}

.event-line {
    width: 90%;
}

.add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    bottom: 42px;
    left: 260px;
}

.add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
}

.add:hover, .create-event:hover, .add-event:hover{
    color:#27e879 !important;
    border-color: #27e879 !important;
}